{% extends "travel_planner/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %} 
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
<div class="register-flex">
    <div class="register-section-left">
        <img src="{% static 'users/images/travel-image.jpg' %}" alt="">
    </div>
    <div class="register-section-right">
        <div class="register-form-container">
        <form method="POST" class="register-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size: 2rem; color: #333;">Register For TravelMate</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="register-btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="register-bottom-text">
            <span class="bottom-text">
                Already Have An Account?
                <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </span>
        </div>
    </div>
   </div>
</div>
{% endblock content %}